<?xml version="1.0" encoding="utf-8" ?>
<!-- This is an example configuration files with most things left blank.
     Anything not left blank is set to the value it would default to if left
     unconfigured.
     
     Nothing is required. Only use pieces of the configuration which pertain
     to the features you want to use (i.e., jobs, geocoding, url-tokens, etc.) 
     Check out the source for more configuration options. -->
<configuration>
  <configSections>
    <section name="tasty" type="Tasty.Configuration.TastySettings, Tasty"/>
  </configSections>
  <appSettings>
    <add key="testy" value="Fuck"/>
  </appSettings>
  <tasty>
    <geocode apiKey=""/>
    <jobs heartbeat="2000" maximumConcurrency="25">
      <schedules>
        <add name="" repeat="Daily" startOn="1/1/2010">
          <scheduledJobs>
            <add type=""/>
          </scheduledJobs>
        </add>
      </schedules>
      <store type="">
        <metadata>
          <add key="ConnectionStringName" value=""/>
        </metadata>
      </store>
    </jobs>
    <http>
      <redirects>
        <add pattern="" redirectsTo="" redirectType="Permanent"/>
      </redirects>
    </http>
    <urlTokens defaultExpiryHours="168" storeType="">
      <metadata>
        <add key="ConnectionStringName" value=""/>
      </metadata>
    </urlTokens>
  </tasty>
</configuration>