<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="tasty" type="Tasty.Configuration.TastySettings, Tasty"/>
  </configSections>
  <appSettings>
    <add key="EnableSmtpSsl" value="true"/>
  </appSettings>
  <connectionStrings>
    <add name="SqlServerConnectionString" connectionString="data source=CHADB;initial catalog=TastyTest;user id=sa;password=av2WZXtL;application name=TastyTest"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="noreply@bluehamsterdam.com">
        <network host="smtp.gmail.com" password="PjVeVuS3FD" port="587" userName="noreply@bluehamsterdam.com"/>
      </smtp>
    </mailSettings>
  </system.net>
  <tasty>
    <jobs>
      <!--<schedules>
        <add name="Every Minute" repeatHours="0.0167" startOn="8/15/2010">
          <scheduledJobs>
            <add type="Tasty.JobTester.SendEmailJob, Tasty.JobTester"/>
          </scheduledJobs>
        </add>
      </schedules>-->
      <store type="Tasty.Jobs.SqlServerJobStore, Tasty">
        <metadata>
          <add key="ConnectionStringName" value="SqlServerConnectionString"/>
        </metadata>
      </store>
    </jobs>
  </tasty>
</configuration>