<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="tasty" type="Tasty.Configuration.TastySettings, Tasty"/>
  </configSections>
  <appSettings>
    <add key="EnableSmtpSsl" value="true"/>
  </appSettings>
  <connectionStrings>
    <add name="TastyTest" connectionString="data source=CHADB;initial catalog=TastyTest;user id=sa;password=av2WZXtL;application name=TastyTest"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="noreply@bluehamsterdam.com">
        <network host="smtp.gmail.com" password="PjVeVuS3FD" port="587" userName="noreply@bluehamsterdam.com"/>
      </smtp>
    </mailSettings>
  </system.net>
  <tasty>
    <jobs>
      <store>
        <metadata>
          <add key="ConnectionStringName" value="TastyTest"/>
        </metadata>
      </store>
    </jobs>
  </tasty>
</configuration>