<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TestDatabaseFilesPath" value="C:\Data\Tasty.Test"/>
  </appSettings>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="data source=CHADB;user id=sa;password=av2WZXtL;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>