<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="tasty" type="Tasty.Configuration.TastySettings, Tasty"/>
  </configSections>
  <appSettings>
    <add key="S3AccessKeyId" value="0Z1PY5QNJKZM08W10NG2"/>
    <add key="S3SecretAccessKeyId" value="NJJ+PvLXMs5KzbTlYs/KXpkfNYNqSenDZBQRLlRL"/>
    <add key="S3BucketName" value="tc.tests"/>
    <add key="DatabaseFilesPath" value="C:\Data\Tasty.Test"/>
  </appSettings>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="data source=CHADB;initial catalog=TastyTest;user id=sa;password=av2WZXtL;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <tasty>
    <jobs heartbeat="1000" maximumConcurrency="100">
      <store type="Tasty.Jobs.SqlServerJobStore, Tasty">
        <metadata>
          <add key="ConnectionStringName" value="LocalSqlServer"/>
        </metadata>
      </store>
      <schedules>
        <add name="TestSchedule1" repeat="Hourly" startOn="2/4/10 11:32 PM">
          <scheduledJobs>
            <add type="Tasty.Test.TestIdJob, Tasty.Test" />
          </scheduledJobs>
        </add>
        <add name="TestSchedule2" repeat="Hourly" startOn="2/4/10 11:33 PM">
          <scheduledJobs>
            <add type="Tasty.Test.TestIdJob, Tasty.Test" />
          </scheduledJobs>
        </add>
      </schedules>
    </jobs>
    <urlTokens>
      <metadata>
        <add key="ConnectionStringName" value="LocalSqlServer"/>
      </metadata>
    </urlTokens>
  </tasty>
</configuration>