<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="S3AccessKeyId" value="AKIAINHPOUE2OKVQTZLQ"/>
    <add key="S3SecretAccessKeyId" value="X4/rnRUVjwDE+CG8sFXQ3sdNuWtiP1Z/RtDeJ1SS"/>
    <add key="TestS3BucketName" value="nac.tests"/>
    <add key="TestDatabaseFilesPath" value="C:\Data\Tasty.Test"/>
  </appSettings>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="data source=CHADB;user id=sa;password=av2WZXtL;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>