<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="tasty.http" type="Tasty.Http.HttpSettings, Tasty.Http"/>
	</configSections>
	<system.web>
    <compilation debug="true"/>
		<httpModules>
			<add name="HttpRedirectModule" type="Tasty.Http.HttpRedirectModule, Tasty.Http"/>
		</httpModules>
  </system.web>
	<tasty.http>
		<redirects>
			<add pattern="^https?://localhost/tasty/$" redirectsTo="http://localhost/tasty/two.aspx" redirectType="Permanent"/>
		</redirects>
	</tasty.http>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="HttpRedirectModule" type="Tasty.Http.HttpRedirectModule, Tasty.Http"/>
		</modules>
	</system.webServer>
</configuration>
